main {
  padding: 2em 0;
  text-align: center;
}

main h1 {
  margin-bottom: 20px;
  letter-spacing: 2.5px;
}

h1 span {
  color: darkred;
}

button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

canvas {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
}

button:last-of-type {
  margin: 0;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

.gum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2);
}

.record {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
}

.record.active {
  display: block;
}

.record {
  animation: record 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes record {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.video-container {
  position: relative;
}


.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2em 0;
}

.btns--block {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.btns--block .btn:nth-child(2) {
  margin: 0 10px;
}

.btns--block3 label {
  margin: 0 10px 0 0;
}

.btns .btn {
  width: 33.33333333%;
}

.none {
  -webkit-filter: none;
  filter: none;
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

/* Container */
.container-custom {
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-custom.small {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Mobile Styles*/
@media only screen and (max-width: 1446px) {
  .container-custom {
    max-width: 1170px
  }

  .container-custom.small {
    max-width: 1170px
  }
}

@media only screen and (max-width: 1200px) {
  .container-custom {
    max-width: 970px
  }

  .container-custom.small {
    max-width: 970px
  }
}

@media only screen and (max-width: 992px) {
  .container-custom {
    max-width: 750px
  }

  .container-custom.small {
    max-width: 750px
  }

  .btns--block {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .container-custom {
    max-width: 100%
  }

  .container-custom.small {
    max-width: 100%
  }

  .btns--block {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .btns--block1,
  .btns--block2 {
    flex-direction: column;
  }

  .btns--block3 {
    flex-direction: row;
  }

  .btns--block .btn:nth-child(2) {
    margin-bottom: 10px;
  }

  .btns .btn {
    width: 100%;
    margin-bottom: 10px;
  }

}


